@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}
.spinner {
    font-size: 100px;
    position: fixed;
    top: 45%;
    animation-name: spin;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.content {
    position: absolute;
    margin-top: 56px;
    margin-bottom: 56px;
    width: 100%;
}
.sidebarActive {
    width: calc(100% - 350px);    
    margin-left: 350px;
}
.btn2[disabled] {
    opacity: 0;
}
@media (max-width: 575px) {
    .sidebarActive {
        margin-left: 0px;
    }
}