@media (min-width: 576px){
    .ml-sm-auto, .mx-sm-auto {
      margin-left: auto!important;
    }
  }
  button {
      transition: opacity 0.1s;
  }
  button.hide {
      opacity: 0;
      transition: opacity 0.1s;
  }
  .content {
    transition: all 0.3s;
    margin-bottom: 56px;
  }
  .btn2 {
      position: relative;
      z-index: 1000;
  }